<html>
    <head>
        <%- include("./partials/styles.ejs") %>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <% if (items.length > 0) { %>
            <% items.forEach(item => { %>
             <div class='item'>
             <button class="recover" data-doc="<%= item._id %>" onclick="myFunction()">Undelete/Recover</button>
              <h3 class="title"><strong>Item name:</strong><%= item.title %></h3>
              <p class="detail"><strong>Description:</strong><%= item.description %></p>
              <p class="detail"><strong>Quantity:</strong><%= item.quantity %></p>
              <p class="detail"><strong>Warehouse Location:</strong><%= item.warehouse_location %></p>
              <p class="detail"><strong>Deletion comments:</strong><%= item.deletion_comments %></p>
              </div>
            <% }) %>
          <% } else { %>
            <p>No items to recover</p>
          <% } %>
    </body>
    <script>
        const recover = document.querySelector('button.recover');
        function myFunction(){
            console.log("clicked");

                 const endpoint = `/recover/${recover.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => console.log("done"))
          .then(data => location.reload())
          .catch(err => console.log(err));
        }
        
      </script>


</html>